* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #204582; 
}

header {
    background:  white;
    padding: 20px;
    font-size: 30px;
}

header > h1 {
    color: #204582;
    text-align: center;
}

.score-board {
    margin: 20px auto;
    width: 300px;
    border: 3px solid white;
    color: white;
    font-size: 40px;
    border-radius: 6px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
}

.badge {
    background: #db2929;
    color: white;
    font-size: 20px;
    padding: 2px 10px;
}

#player-label {
    position: absolute;
    top: 25px;
    left: -35px;
}

#comp-label {
    position: absolute;
    top: 25px;
    right: -35px;
}

.result {
    font-size: 40px;
    color: white;
}

.result > p {
    text-align: center;
}

.choices {
    text-align: center;
    margin: 50px 0px;
}

.choice {
    border: 4px solid white;
    border-radius: 50%;
    display: inline-block;
    padding: 20px;
    margin: 10px 15px;
}

.choice:hover {
    cursor: pointer;
}

#action-message {
    text-align: center;
    color: white;
    font-size: 30px;
}

#p {
    background: white;
    border: 6px solid black;
}

#s {
    background: white;
    border: 6px solid black;
}

#r {
    background: white;
    border: 6px solid black;
}

#sp {
    background: white;
    border: 6px solid black;
}

#l {
    background: white;
    border: 6px solid black;
}

.green-glow {
    border: 6px solid green;
}

.red-glow {
    border: 6px solid red;
}